.App {
  .main-content {
    .items-panel {
      display: flex;
      width: 600px;
      height: 100%;

      & > div {
        height: 100%;
      }

      .list {
        width: 300px;
        border-right: 1px solid #eaecef;

        .item-wrapper {
          border-bottom: 1px solid #eff1f4;

          & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .sub {

              & > div {
                display: flex;
                align-items: center;
              }

              &.left-sub {
                padding: 10px 0;

                .item-title {
                  color: #7d8d96;
                }

                .item-title-service {
                  color: #5f707d;
                }
              }
              
              &.right-sub {
                & > div {
                  justify-content: flex-end;
                }
                
                .right-sub-price {
                  padding: 10px 15px;
                  color: #5f707d;
                }
                .add-icon {
                  visibility: hidden;
                  background: #7cfcc1;
                  display: block;
                  height: 39px;
                  display: flex;
                  align-items: center;
                }
              }
            }

            .item {
              padding: 0 20px;
            }

            &.active {
              background-color: #c6fae3;

              .right-sub {
                .add-icon {
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}
