.App {
  .main-content {
    position: absolute;
    left: 50px;
    top: 128px;
    width: calc(100vw - 50px);
    height: calc(100vh - 128px);

    .main-content-items {
      height: 100%;
    }
  }
}